body {
  background-color: rgb(237, 204, 102);
}

p {
  text-align: center;
}

a.link {
  padding: 10px;
  color: rgb(159, 10, 117);
}

.croissant-photo {
  max-width: 75%;
  display: block;
  margin: 40px auto;
  border-radius: 4px;
}

.center-text {
  display: block;
  text-align: center;
}
